/*=================================
  Header styling starts here
=================================*/
.bookmark {
    display: flex;
    justify-content: flex-end;
    font-size: 9px;
    text-transform: uppercase;
    span {
        display: flex;
        gap: 10px;
        &::after {
            font-family: "FontAwesome";
            content:"\f02e";
            color: $palegreen;
            font-size: 13px;
            text-indent: 0;
        }
    }
 }  

.main-header {
    @extend %flex-styling; 
    padding-bottom: 3px;
}

.head-nav {
    flex-basis: 46%;

    .nav-menu{
        @extend %flex-styling;
        li a {
            color: #000;
            font-size: 10px;
            text-transform: uppercase;
            transition: all 0.3s;
    
            &:hover {
                text-shadow: 1px 3px 3px #424040;
            }
        }
    }
}

/*=================================
  Header styling ends here
=================================*/
