/*=================================
  main styling starts here
=================================*/
.business { background-color: #fcfcfc; }

.business h2 {
    padding: 25px;
    font-size: 25px;
    text-transform: uppercase;

    &::after {
        display: inline-block;
        content: "";
        border-top: 2px dashed #dddddd;
        width: 100%;
        transform: translateY(5px);
    }
}

//-----------------------logos styling starts here
.logos {
    @extend %flex-styling; 
    padding: 20px 0;
    text-align: center;
}

.featurelogo h3 {
    padding: 10px 0;
    font-size: 25px;
    text-transform: uppercase;

    span {
        display: block;
        font-size: 15px;
        text-transform: none;
    }
}

.support,
.call,  
.Web, 
.mobile{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-indent: -9999px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.support::after, 
.call::after,
.Web::after, 
.mobile::after{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "FontAwesome";
   width: 115px;
   height: 115px;
   border: 1px solid transparent;
   border-radius: 50%;
   background-color: $palegreen;
   color: #fff;
   font-size: 65px;
   text-indent: 0;
}

.support::after { content: "\f1b8" }
.call::after { content: "\f095" }
.Web::after { content: "\f013" }
.mobile::after { content: "\f10b" }
//-----------------------logos styling ends here
//-----------------------portfolio styling starts here
.porfolio h2 {
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;

    &::after {
        display: inline-block;
        content: "";
        border-top: 2px dashed #dddddd;
        width: 60%;
        transform: translate(15px, -6px);
    }

    &::before {
        display: inline-block;
        content: "";
        border-top: 2px dashed #dddddd;
        width: 3%;
        transform: translate(-15px, -6px);
    }
}

.porfolio-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .cards {
       display: flex;
       gap: 5px;
       flex-basis: 48%;
       border: 1px solid #ccc;

       .card-content {
        flex-basis: 55%;
        padding: 10px;

        h3 {
            font-size: 15px;
            text-transform: uppercase
        }

        p {
            font-size: 12px;
        }
        }
    }
}
//-----------------------portfolio styling ends here
//-----------------------advertiser styling starts here
.advertiser h2 {
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;

    &::after {
        display: inline-block;
        content: "";
        border-top: 2px dashed #dddddd;
        width: 60%;
        transform: translate(15px, -6px);
    }

    &::before {
        display: inline-block;
        content: "";
        border-top: 2px dashed #dddddd;
        width: 3%;
        transform: translate(-15px, -6px);
    }
}
//-----------------------advertiser styling ends here

/*=================================
  main styling ends here
=================================*/