/*=================================
  main styling starts here
=================================*/
.business { background-color: #fcfcfc; }

.business h2 {
    padding: 25px;
    font-size: 25px;
    text-transform: uppercase;

    &::after {
        display: inline-block;
        content: "";
        border-top: 2px dashed #dddddd;
        width: 100%;
        transform: translateY(5px);
    }
}

.logos {
    @extend %flex-styling; 
    padding: 20px 0;
    text-align: center;
}

.featurelogo h3 {
    padding: 10px 0;
    font-size: 25px;
    text-transform: uppercase;

    span {
        display: block;
        font-size: 15px;
        text-transform: none;
    }
}

.support,
.call,  
.Web, 
.mobile{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-indent: -9999px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.support::after, 
.call::after,
.Web::after, 
.mobile::after{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "FontAwesome";
   width: 115px;
   height: 115px;
   border: 1px solid transparent;
   border-radius: 50%;
   background-color: $palegreen;
   color: #fff;
   font-size: 65px;
   text-indent: 0;
}

.support::after { content: "\f1b8" }
.call::after { content: "\f095" }
.Web::after { content: "\f013" }
.mobile::after { content: "\f10b" }


/*=================================
  main styling ends here
=================================*/